html {
    font-size:16px;
}
body {
    font-family:sans-serif;
}
#splash {
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background:white;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index:52;
    transition:all 1s ease;
    background-image:url(/ps2/ba-sm.jpg);
    background-size:cover;
}
#splash.hide {
    pointer-events: none;
    opacity:0;
}
.flex {
    display:flex;
}
.br, .weapon_type {
    font-size: 75%;
    opacity: 0.5;
}

.faction1 .charname {
    background:purple;
}
.faction2 .charname {
    background:blue;
}
.faction3 .charname {
    background:red;
}
.faction4 .charname {
    background:#888;
}
.charname {
    color:white;
    font-weight:bold;
    padding:0.2em 0.5em;
    border-radius:0.2em;
}
#config_export {
    width:100%;
    height:15ch;
    margin-bottom:2rem;
    padding:1rem;
    border:1px solid #aaa;
}
#volume {
    width: 100%;
    width: 50ch;
    /* display: inline-block; */
    margin-left: 2rem;
}

tr.death {
    opacity: 0.5;
    background: rgba(255,0,0,0.1);
}
tr.kill {
    background: rgba(0,255,0,0.1);
}
tr.tk {
    background:rgba(255,100,50,0.1);
    opacity:0.5;
}
tr.info {
    background: rgba(0,200,200,0.1);
}

span.outfit {
    font-size: 50%;
    font-weight: normal;
    opacity: 0.7;
}
#playersearchresults a {
    display:inline-block;
    margin:0.5em;
}
#playersearchresults a.online {
    font-weight:bold;
}

#achievments_list .card {
    font-size:70%;
}
#achievments_list .card-header {
    display:flex;
}
#achievments_list .control {
    padding:1em;
}
#achievments_list .card {
    margin-bottom:1em;
}

.card-header .control {
    transform: scale(0.8);
}

.card-footer {
    padding: 1em;
}

/* fix tag name overflow */
/* .card-footer {
    overflow-x: auto;
} */

.control {
   max-width:100%;
}
.field.is-grouped.is-grouped-multiline {
    max-width: 100%;
    width:100%;
    position:relative;
}
.card .tags.has-addons {
    position:relative;
    max-width:100%;
}
.card .tags.has-addons span:first-of-type {
    /* border: 1px solid red; */
    /* max-width:30vw; */
    max-width:88%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.vanilla #achievments_list, .unclaimed #achievments_list {
    display:none;
}

.vanillaonly {
    display:none;
}
.vanilla .vanillaonly {
    display:block;
}

.vanilla #add_custom_trigger, .unclaimed #add_custom_trigger {
    display:none;
}

#achievments_list .control {
    padding: 0.5em;
}
.field.is-grouped.is-grouped-multiline > .control:last-child, .field.is-grouped.is-grouped-multiline > .control:not(:last-child) {
    margin-bottom:0 !important;
}
.modal-card-body p {
    font-size:80%;
    margin:0.5em;
}
.modal-card-body p span.info {
    opacity:0.5;
    padding-left:1rem;
    transform:scale(0.8);
}
.add_audio.button {
        position: absolute;
        /* top: 3.5em; */
        right: 0;
        bottom: 0;
}
.card-header {
    background:#f0f0f0 !important;
    font-size:130%;
}
.custom .card-header {
    background:#d9f1ef !important;
}
#splash .contain {
    text-align:center;
}
.splashtitle {
    font-weight:900;
    font-size:8vmax;
    line-height:0.8;
    margin-bottom:0.5em;
    color:#222;
    text-shadow:0 0 20px white;
    padding:1em;
}
.splashabout {
    color:#333;
    font-size:1rem;
    font-weight:bold;
    opacity:0.6;
    margin-top:6vmax;
}

span.code {
    background: #333;
    color: lightgreen;
    font-family: monospace;
    padding: 0.2em 0.5em;
    opacity: 0.7;
}

#stats {
    position:sticky;
    z-index:2;
    top:0;
    background: white;
    padding-bottom: 1rem;
}

#playername.offline {
    opacity:0.5;
    background:#aaa;
}
#playername {
    opacity:1;
    background:hsl(141, 53%, 53%);
    color:white;
    font-weight:bold;
}



    .navbar-item.has-dropdown .navbar-dropdown {
        display: none;
      }
    .navbar-item.has-dropdown.is-active .navbar-dropdown {
        
          display: block;

       
     }
  
@media screen and (min-width: 1400px) {
    #achievement_modal .modal-card {
        width:80% !important;
    }
    div#achievments_list {
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
    }
    div#achievments_list .card {
        width:48%;
        margin:1%;
    }
}

@media screen and (min-width: 1900px) {
    #achievement_modal .modal-card {
        width:80% !important;
        max-width:1600px !important;
    }
    div#achievments_list {
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
    }
    div#achievments_list .card {
        width:31%;
        margin:1%;
    }
}

.image_preview {
    width:3rem;
    height:3rem;
    display:inline-block;
    object-fit: contain;
    margin-left:1em;
    margin-right:1em;
}
.image_preview:hover {
    cursor:pointer;
}


@keyframes hide {
    0%   {opacity: 1; max-height:3em;}
    90%  {opacity: 1; max-height:3em;}
    100% {opacity: 0; max-height:0em;}
}
.obsonly {
    display:none !important; 
}
.obshost .obsonly {
    display:inline-block !important;
}
.notobs {
    display:inline-block !important;
}
.obshost .notobs {
    display:none !important;
}
.obs .hideme {
    animation: hide 8s forwards;
}

body.obs, html {
    background-color:rgba(0,0,0,0) !important;
}
body.testobs {
    /* background-color:rgba(0,0,0,0.5) !important; */
}
.obs .navbar {
    display:none;
}
.obs #stats {
    background:transparent;
}
.obs thead {
    display:none;
}
.obs #events tr {
    display:flex;
    width:100%;
    border:none;
    max-height:3em;
}
.obs #events {
    max-width:60%;
}
.obs #events tbody tr td:nth-child(3) {
    display:none; /* hide special column on obs */
}
.obs table {
    color:white;
    background-color:transparent !important;
}
.obs table tr {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-height:3em;
    background:transparent !important;
}
.obs table td {
    border:none !important;
}
.obs table td:first-child {
    display: none;
}


@keyframes showanimation {
    0%   {opacity: 1; transform:scale(0.8) translateX(-30vw); }
    90%  {opacity: 1; transform:scale(0.5) translateX(0vw);}
    100% {opacity: 0; transform:scale(0) translateX(1000vw);}
}
.animation.showanimation {
    animation: showanimation 6s forwards;
}

#animations {
    display:none;
}
.obs #animations {
    display:block;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
}
.animation {
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    opacity:0;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.animation .animation_image {
    max-width:30vw;
    max-height:30vh;
    object-fit: contain;
    object-position: top right;

}


@keyframes notify {
    0%   {opacity: 1;  max-height:7rem;}
    90%  {opacity: 1;  max-height:7rem;}
    100% {opacity: 0;  max-height:0rem;}
}
.notify-delete {
    display:none !important;
}
.obs .notification {
    font-size:75%;
}
.notification.notify {
    animation: notify 5s forwards;
}
#notifications {
    position:fixed;
    pointer-events: none;
    top:0;
    right:0;
    padding:2rem;
    z-index:999;
    width:100vw;
    height:100vh;
    display:flex;
    max-width:60ch;
    flex-direction: column;
}
.obs #notifications {
    max-width:30%;
}
#notifications .notification {
    pointer-events: all;
    position:relative;
    display:flex;
}
#notifications img {
    display:inline-block;
    max-width:20vw;
    max-height:20vw;
    object-fit: contain;
    object-position: top right;
    right:0;
    margin-left:auto; /* keep image right aligned inside flex notification */
}
.notification.custom_image_notification {
    background:transparent !important;
}