html {
    font-size:16px;
}
body {
    font-family:sans-serif;
}
#splash {
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background:white;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index:52;
    transition:all 1s ease;
    background-image:url(/ps2/ba-sm.jpg);
    background-size:cover;
}
#splash.hide {
    pointer-events: none;
    opacity:0;
}
.flex {
    display:flex;
}
.br, .weapon_type {
    font-size: 85%;
    opacity: 0.7;
}

p.info {
    font-size:60% !important;
}

.faction1 .charname {
    background:purple;
}
.faction2 .charname {
    background:blue;
}
.faction3 .charname {
    background:red;
}
.faction4 .charname {
    background:#888;
}
.charname {
    color:white;
    font-weight:bold;
    padding:0.2em 0.5em;
    border-radius:0.2em;
    max-width: 40ch;
    overflow: hidden;
    text-overflow: ellipsis;
}
#config_export {
    width:100%;
    height:15ch;
    margin-bottom:2rem;
    padding:1rem;
    border:1px solid #aaa;
}
#volume {
    width: 100%;
    width: 50ch;
    /* display: inline-block; */
    margin-left: 2rem;
}

tr.death {
    opacity: 0.7;
    background: rgba(255,0,0,0.1);
}
tr.kill {
    background: rgba(0,255,0,0.1);
}
tr.tk {
    background:rgba(255,100,50,0.1);
    opacity:0.5;
}
tr.info {
    background: rgba(0,200,200,0.1);
}

span.outfit {
    font-size: 70%;
    font-weight: normal;
    opacity: 0.8;
}
#playersearchresults a {
    display:inline-block;
    margin:0.5em;
}
#playersearchresults a.online {
    font-weight:bold;
}

#achievments_list .card {
    font-size:70%;
}
#achievments_list .card-header {
    display:flex;
}
#achievments_list .control {
    padding:1em;
}
#achievments_list .card {
    margin-bottom:1em;
}

.card-header .control {
    transform: scale(0.8);
}

.card-footer {
    padding: 1em;
}

/* fix tag name overflow */
/* .card-footer {
    overflow-x: auto;
} */

.control {
   max-width:100%;
}
.field.is-grouped.is-grouped-multiline {
    max-width: 100%;
    width:100%;
    position:relative;
}
.card .tags.has-addons {
    position:relative;
    max-width:100%;
}
.card .tags.has-addons span:first-of-type {
    /* border: 1px solid red; */
    /* max-width:30vw; */
    max-width:88%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.authorized_only {
    display:none !important;
}
.authorized .authorized_only {
    display:inline-block !important;
}
.authorized .tag.authorized_only {
    display:flex !important;
}
.authorized #unlock {
    display:none;
}

.vanilla #achievments_list, .unclaimed #achievments_list, .claimed #achievments_list {
    /* display:none; */
}
.authorized #achievments_list {
    display:flex;
}

body:not(.claimed) .claimedonly {
    display:none;
}

.play_sound:hover {
    text-decoration:none !important;
    opacity:0.6;
}

.claimed i.claimedonly, .vanilla i.claimedonly {
    display:inline;
}

.vanillaonly {
    display:none;
}
.vanilla .vanillaonly {
    display:block;
}

.vanilla #add_custom_trigger, .unclaimed #add_custom_trigger {
    display:none;
}

#achievments_list .control {
    padding: 0.5em;
}
.field.is-grouped.is-grouped-multiline > .control:last-child, .field.is-grouped.is-grouped-multiline > .control:not(:last-child) {
    margin-bottom:0 !important;
}
.modal-card-body p {
    font-size:80%;
    margin:0.5em;
}
.modal-card-body p span.info {
    opacity:0.5;
    padding-left:1rem;
    transform:scale(0.8);
}
.modal-card-title span.info {
    font-size:0.8rem;
    opacity:0.5;
}
.add_audio.button {
        position: absolute;
        /* top: 3.5em; */
        right: 0;
        bottom: 0;
}
.card-header {
    background:#f0f0f0 !important;
    font-size:130%;
}
.custom .card-header {
    background:#d9f1ef !important;
}
#splash .contain {
    text-align:center;
}
.splashtitle {
    font-weight:900;
    font-size:8vmax;
    line-height:0.8;
    margin-bottom:0.5em;
    color:#222;
    text-shadow:0 0 20px white;
    padding:1em;
}
.splashabout {
    color:#333;
    font-size:1rem;
    font-weight:bold;
    opacity:0.6;
    margin-top:6vmax;
}

span.code {
    background: #333;
    color: lightgreen;
    font-family: monospace;
    padding: 0.2em 0.5em;
    opacity: 0.7;
}

#stats {
    position:sticky;
    z-index:2;
    top:0;
    /* background: white; */
    padding-bottom: 1rem;
}

#playername.offline {
    opacity:0.5;
    background:#aaa;
}
#playername {
    opacity:1;
    background:hsl(141, 53%, 53%);
    color:white;
    font-weight:bold;
}
#playername:hover {
    cursor:pointer;
    filter:contrast(1.3);
}

/* fix playerlist */
.control .tags:last-child {
    margin-bottom: 0.5rem;
}


    .navbar-item.has-dropdown .navbar-dropdown {
        display: none;
      }
    .navbar-item.has-dropdown.is-active .navbar-dropdown {
        
          display: block;

       
     }
  




.image_preview {
    width:3rem;
    height:3rem;
    display:inline-block;
    object-fit: contain;
    margin-left:1em;
    margin-right:1em;
    transition:all 0.2s ease;
    transform:scale(1);
    position:relative;
}
.image_preview:hover {
    cursor:pointer;
    transform:scale(3);
    z-index:2;
}


@keyframes hide {
    0%   {opacity: 1; max-height:4em;}
    90%  {opacity: 1; max-height:4em;}
    100% {opacity: 0; max-height:0em;}
}
.obsonly {
    display:none !important; 
}
.obshost .obsonly {
    display:inline-block !important;
}
.claimed_only {
    display:none;
}
.claimed .claimed_only {
    display:inline-block;
}
.notobs {
    display:inline-block !important;
}
.obshost .notobs {
    display:none !important;
}
.obs .hideme {
    animation: hide 10s forwards;
}

.authorized .claimedonly {
    display:none;
}

body.obs, html {
    background-color:rgba(0,0,0,0) !important;
}
body.testobs {
    /* background-color:rgba(0,0,0,0.5) !important; */
}
.obs .navbar {
    display:none;
}
.obs #stats {
    background:transparent;
}
.obs #stats .control:hover {
    cursor:pointer;
}
.obs thead {
    display:none;
}
.obs #events tr {
    display:flex;
    width:100%;
    border:none;
    max-height:3em;
    font-size: 80%;
    justify-content: flex-end;
}
.obs #events td {
    display: flex;
    align-items: center;
}
.obs #events {
    max-width:60%;
}
.obs #events tbody tr td:nth-child(3) {
    display:none; /* hide special column on obs */
}
.obs table {
    color:white;
    background-color:transparent !important;
}
.obs .timestamp {
    display:none !important;
}
.obs table tr {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-height:3em;
    background:transparent !important;
}
table tbody td.event_info {
    display:flex;
    align-items:center;
}
.obs td.event_info {
    background: rgba(0,0,0,0.7);
    border-radius: 0.5em;
}
.obs table td {
    border:none !important;
}
.obs table tbody tr td:first-child {
    display: none !important;
}
span.char.faction {
    padding-right: 1em;
    display: flex;
    align-items: center;
}
.obs .br {
    background: rgba(0,0,0,0.5);
    padding: 0.3rem 0.5rem;
    border-radius: 0.2rem;
}
.br {
    margin-left: 0.5rem;
}

#playerstatus .fas, #soundpack .fas {
    opacity:0.5;
}

@keyframes showanimation {
    0%   {opacity: 1; transform:scale(0.8) translateX(-30vw); }
    90%  {opacity: 1; transform:scale(0.5) translateX(0vw);}
    100% {opacity: 0; transform:scale(0) translateX(1000vw);}
}
.animation.showanimation {
    animation: showanimation 10s forwards;
}

#animations {
    display:none;
}
.obs #animations {
    display:block;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
}
.animation {
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    opacity:0;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.animation .animation_image {
    max-width:30vw;
    max-height:30vh;
    object-fit: contain;
    object-position: top right;

}
html {
    overflow: hidden;
    overflow-y:hidden !important;
}


@keyframes notify {
    0%   {opacity: 1;  max-height:12rem; padding: 1.25em 2.5em 1.25em 1.5em;}
    90%  {opacity: 1;  max-height:12rem; padding: 1.25em 2.5em 1.25em 1.5em;}
    100% {opacity: 0;  max-height:0rem; padding: 0em 0em 0em 0em;}
}
.notify-delete {
    display:none !important;
}
.obs .notification {
    font-size:75%;
}
.notification.notify {
    animation: notify 10s forwards;
}
#notifications {
    position:fixed;
    pointer-events: none;
    top:0;
    right:0;
    padding:2rem;
    z-index:999;
    width:100vw;
    height:100vh;
    display:flex;
    max-width:69ch;
    flex-direction: column;
}
/* .obs #notifications {
    max-width:45%;
} */
#notifications .notification {
    pointer-events: all;
    position:relative;
    display:flex;
}
#notifications img {
    display: inline-block;
    min-width: 30rem;
    /* height: 35rem; */
    max-height: 20rem;
    object-fit: contain;
    object-position: right center;
    right: 0;
    margin-left: auto; /* keep inside */
}
.achievement_notification {
    display:none !important;
}
/* .obs .achievement_notification, .obs .custom_image_notification {
    display:block !important;
} */
.notification.custom_image_notification {
    background:transparent !important;
    margin:0 !important;
    margin-bottom:1rem !important;
    padding:0 !important;
}
.notification.achievement_notification {
    background-color:rgba(0,0,0,0.6) !important;
    color:white !important;
}

.obs .weapon_name {
    padding:0.3em 0.6em;
    background:rgba(0,0,0,0.7);
    border-radius:0.2rem;
    font-size:85%;
}

span.event_type {
    text-indent: -9999px;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5em;
    /* background-color: rgba(0,0,0,0.5);
    border-radius: 4rem; */
    /* padding: 1em; */
    background-size: 80%;
}
span.profile_name {
    text-indent: -9999px;
    display: inline-block;
    width: 2em;
    height: 2em;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5em;
    filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.5));
}
span.profile_name.Engineer {
    background-image:url(icons/Icon_Engineer.png);
}
span.profile_name.Infiltrator {
    background-image:url(icons/Icon_Infiltrator.png);
}
span.profile_name.Heavy {
    background-image:url(icons/Icon_Heavy_Assault.png);
}
span.profile_name.Medic {
    background-image:url(icons/Icon_Combat_Medic.png);
}
span.profile_name.Light {
    background-image:url(icons/Icon_Light_Assault.png);
}
span.profile_name.MAX {
    background-image:url(icons/Icon_MAX.png);
}

.weapon_type {
    display:none;
}
.event_type.you_revived {
    background-image: url(icons/icons8-medical-bag-64.png);
}
.headshot .event_type.you_killed {
    background-image: url(icons/icons8-accuracy-64.png);
}
.event_type.you_killed {
    background-image: url(icons/icons8-counter-strike-64.png);
}
.event_type.killed_by {
    background-image:url(icons/icons8-skull-64.png);
}
.event_type.vehicle_destroy {
    background-image: url(icons/icons8-middle-finger-64.png);
}

#unlock:hover {
    cursor:pointer;
}


input.config_volume {
    position: absolute;
    width: 100%;
    padding:0.5rem 0;
    top:-0.5rem;
    display:none;
    left:0;
    z-index: 2;
}
input.config_volume:hover {
    cursor:grab;
}
.show_volume:hover .config_volume {
    display:block;
}

@media screen and (min-width: 1900px) {
    #achievement_modal .modal-card {
        width:80% !important;
        max-width:1600px !important;
    }
    div#achievments_list {
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
    }
    div#achievments_list .card {
        width:31%;
        margin:1%;
    }
}

@media screen and (min-width: 1400px) {
    #achievement_modal .modal-card {
        width:80% !important;
    }
    div#achievments_list, .authorized  div#achievments_list {
        display:flex;
        flex-direction: row !important;
        flex-wrap:wrap !important;
    }
    
    div#achievments_list .card, .authorized div#achievments_list .card {
        width:48% !important;
        margin:1% !important;
    }
}

@media screen and (max-width: 1400px) {
    .authorized div#achievments_list {
        display:block !important;
    }
}

body:not(.authorized) .card.checked {
    display:none !important;
}

@media screen and (min-width: 769px) {
    .modal-content, .modal-card {
        width: 720px !important;
    }
}
.obs #stats {
    justify-content: flex-end;
}
.obs, body {
    position:relative;
}
.obs:hover .moveable {
    outline:2px dotted #aaa;
    cursor:move;
}

.obs .moveable {
    position:absolute !important;
}
.obs .moveable:hover {
    outline:2px dotted red;
}

.obs .moveable:not(.enabled) {
    display:none !important;
}
.obs:hover .moveable:not(.enabled) {
    display:flex !important;
    opacity:0.5;
    background:#ddd !important;
}
/* .obs:hover #events.moveable:not(.enabled) {
    display:table;
}
.obs:hover #notifcations.moveable:not(.enabled), .obs:hover #stats.moveable:not(.enabled) {
    display:flex;
} */


body.obs {
    overflow-y:hidden;
    overflow-x:hidden;
}
.obs #notifications {
    pointer-events:auto;
}
.obs table {
    min-height:300px;
    display:flex;
}
h5.label {
    display:none;
}
table#events::before {
    display:none;
}
.obs:hover h5.label, .obs:hover table#events::before {
    display:block;
    position:absolute;
    top:0.5em;
    left:0.5em;
    font-size:1.5rem;
    color:#aaa;
    font-weight:bold;
}
table#events::before {
    content: 'KILLBOARD';
}
.obs_example {
    display:none !important;
}
.obs:hover .obs_example {
    display:flex !important;
}
.obs .charname {
    font-size: 110%;
}
.obs tbody#events_body {
    width: 100%;
}


  .hide_obs {
    display:none;
}
.obs:hover #stats .hide_obs {
    opacity:0.3;
    display:block;
}

body:not(.obs) .moveable {
    top:0 !important;
    left:0 !important;
    transform:scale(1) !important;
}
body:not(.obs) #notifications {
    right:0 !important;
    left:auto !important;
}


/* make stats stand out */
/* div#stats {
    padding-top: 0.5em;
}
div#stats .tags {
    filter: drop-shadow(0px 0px 0.25rem black);
} */